.auth__container {
	height: 100vh;
	width: 100%;
	position: fixed;
	background-image: url('../../images/us-customs-and-border-protection.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.auth__contentbox {
   height: 60%;
   width: 40%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
	 box-shadow: 2px 3px 4px #797979;
   border-radius: 5px;
}

.auth__contentbox h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	background-color: #5b5b5b;
  transform: translateY(-3rem);
  transform: translate(1rem, -1rem);
	font-size: 1rem;
}

@media (max-width: 699px) {
  .auth__contentbox {
   height: 60%;
   width: 90%;
	 top: 40%;
}
}

.auth__form {
	display: flex;
	flex-direction: column;
	margin: 3rem 1rem;
}

.auth__formcontainer {
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

.auth__formcontainer label {
	font-weight: bold;
	opacity: 0.8;
}

.auth__formcontainer input {
	height: 50px;
	border-radius: 3px;
	outline: none;
	border: none;
	margin-top: .5rem;
	padding-left: .5rem;
	color: #131313;
}

.auth__formcontainer input::placeholder {

}

.auth__formcontainer input::focus {
   outline: green;
   border: 2px solid green;
}

.auth__errorbox {
	padding: .5rem 1rem;
	background-color: #8c0000;
	color: #eaeaea;
}

.auth__submitbtn {
	padding: .5rem 2rem;
	align-self: center;
	transition: border .5s;
	color: #000;
	background-color: #dfdfdf;
	transition: all .3s;
}

.auth__submitbtn:hover {
	background-color: #ccc;
	transform: translateY(-3px);
}

.auth__submitbtn:active {
	transform: translateY(1px);
}

.auth__successalert {
	padding: .5rem 1rem;
	background-color: lightgreen;
	color: #131313;
	font-weight: bold;
	margin-bottom: 1rem;
}
