.CommentCardContainer {
  background-color: #181818;
  padding: .5rem;
  color: #fff;
  box-shadow: 9px 8px 21px 7px rgba(0,0,0,.71);
  border-radius: 5px;
  width: 30%;
  margin: .5rem;
  transition: transform .5s;
  /* background-image: url('../../images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg'); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}


@media (max-width: 699px) {
  .CommentCardContainer {
      width: 90%;
      margin: .5rem auto;
      font-size: 1rem;
   }
}


.CommentCardContainer h4 {
  padding: 1rem;
  background-color: #121213;
  color: #fff;
}

.CommentCardContainer p {
  padding: 1rem;
  text-align: justify;
}

.CommentCardContainer span {
  padding: 1rem;
  font-weight: bold;
  border: 1px solid #eaeaea;
  padding: .2rem .8rem;
  font-weight: bold;
  border: 1px solid #eaeaea;
  margin: .1rem;
}

.CommentCardContainer span:hover, .CommentCardContainer span:active {
  background-color: #faebd7;
  /* color: #fff; */
}

.CommentCardContainer:hover {
  cursor: pointer;
  transform: scale(1.05);
}
