.nav__container {
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  box-shadow: 1px 2px 3px #757575;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: .5rem 0;
}

.nav__tictalk {
  margin-right: auto;
  font-weight: bold;
  padding-left: 1rem;
}

.modalWrapper > div {
  background-color: #0a141e;
}

.welcomeModal {
  padding: 2rem;
  border-radius: 2px;
  color: #fff;
  background-color: #0a141e;
  border: 2px dashed #000;
  margin: .5rem;
}

.nav__navcontainer {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin-bottom: 0;
  font-weight: bold;
}

.nav__navItems {
  padding: .8rem 1.5rem;
  transition: background-color .5s;
}

.nav__navItems:not(:last-child) {
  margin-left: auto;
}

.nav__navItems:last-child {
  border-left: 1px solid #eaeaea;
}

.nav__navItems:hover {
  background-color: #14283c;
  cursor: pointer;
  color: #fff;
}
